
.hero-card{
    display: flex;
    width:29%;
    min-width: 220px;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    margin: 1em;
    border: solid 3px black;
    border-radius: 25px;
    
}

.hero-card:hover{
    cursor:pointer;
    
}

.hero-card-image{
    width: 30%;
    border-radius:25px ;
}

.hero-card-skill-levels>li>p{
    padding: 0;
    margin: 0;
    font-size: .7em;
}
/* .hero-card{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    width:30%;
    min-width: 220px;
    padding:1em;
    margin:0;
    border: 3px solid black;
    border-radius: 15px;
    
}

.hero-card-image{
    width:50%;
    object-fit: cover;
    border-radius: 15px;
}

.hero-card-appearance{
    display: flex;

}
.hero-card-appearance-left{
    display: flex;
    flex-direction: column;
    width:50%;
    padding: 0;

}

.hero-card-appearance-right{
    display: flex;
    flex-direction: column;
    width:50%;
    padding: 0;
}

.hero-card-skill{
    display: flex;
}

.hero-card-skill-name{
    display: flex;
    flex-direction: column;
    
}

.hero-card-skill-name>li{
    font-size: 1.4em;
    height: 20px;
    width:25%;
}


.hero-card-skill-level{
    display: flex;
    flex-direction: column;
    width:75%;
}  

.hero-card-skill-level>li{
    width:100%;
}  */

/* .hero-card-skill-level>li{
    font-size: 1.2rem;
} */

@media screen and (max-width: 1040px) {

    .hero-card{
        width:40%;
    }
    



    
}


@media screen and (max-width: 600px) {
    

    .hero-card{
        width:80%;
    }

    
} 


